@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');




:root {
    --light-gray: #F5F3EF;
    --gray: #DCDCDC;
    --dark-gray: #646464;
    --black: #000;
    --white: #FFF;
    --yellow: #FEBD2F;
}


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: 'Roboto', sans-serif;
    background: var(--light-gray);
    height: 100vh;
    margin: 0 auto;

    display: grid;
    
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header header"
    "slogan slogan"
    "cards cards"
    "footer footer";

}

p{
    color: var(--dark-gray);
}



header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 8%;
    margin-bottom: 40px;
    
}

header a{
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
   

}


header button{

    background-color: var(--black);
    border: 1px solid var(--black);
    color: var(--white);
    padding: 8px 10px;
    border-radius: 20px;

}

nav{
    display: flex;
    align-content: center;
    column-gap: 30px;
    
}

.hamburguer-menu{

    display: none;
}

 

.slogan{

    grid-area: slogan;
    margin-bottom: 30px;
    padding: 20px 8%;
    display: grid;
    grid-template-columns: auto 50%;
    column-gap: 45px;
    justify-content: space-between;
    align-items: center;
    
    

}

.slogan-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;

}

.slogan-info h1{

        font-family: 'Roboto Serif';
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 15px;
}

 .slogan-info p{

    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;

}

.slogan img{

    width: 100%;
    object-fit: cover;
    
}




.card-container{
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 8%;
    row-gap: 75px;
    column-gap: 35px;
}

.card-container h2{
    border: solid 2px var(--yellow);
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Roboto Serif';
    
}

.card-container p{

    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}


 .icon {
    position: absolute;
    top: -45px;
    right: 15px;
    
 }

.cooking-courses-card{
    position: relative;
    background-color: var(--white);
    border-radius: 25px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
 
}


.cooking-courses-card p{
    margin-top: 20px;
    margin-bottom: 35px;
}

.get-started-button {

    border: solid 2px var(--light-gray);
    background-color: var(--white);
    padding: 8px 10px;
    border-radius: 20px;
    font-weight: bolder;
    


}

footer{

    grid-area: footer;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 40px 8%;
    

}

@media all and (max-width: 2000px){
    .hamburguer-menu{
        display: none;
   }

}


@media all and (max-width: 1000px){

.hamburguer-menu{
     display: none;
}

.slogan{
    display: grid;
    grid-template: repeat(1, 1fr) / auto;
    text-align: center;

}

.slogan img{

    margin-top: 25px;

}

.card-container{
    grid-template-columns: repeat(2, 1fr);
   
}

}

@media all and (max-width: 600px){


    
    header{
        display: flex;
        justify-content: center;
        position: relative;

    }

    header button, nav{

       display: none;

    }

    .slogan-info h1 {

        font-size: 34px ;


    }

    .slogan img{

        margin-top: 25px;
    }

    .hamburguer-menu{
        display: flex;
        position: absolute;
        right: 8%;
        top: 40px;
        
    }

    

.card-container{
    grid-template-columns: 1fr;
   
}

}